
.form-filter .form-control {
    width: 100%;
}

.properties .property {
    text-align: justify;
    margin-bottom: 30px;
}

.properties .property img {
    margin-bottom: 10px;
}

.properties .property .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.properties .property .description {
    margin-bottom: 10px;
    color: #777;
}

.properties .property .value {
    font-weight: bold;
}

.properties .property .value strong {
    color: #079114;
}

.footer {
    margin-top: 40px;
    padding: 20px 0;
    background: #333;
    text-align: center;
    color: #FFF;
}

/*  ==================================================================
    Panel
    ================================================================== */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 60px;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}